:root {
  --ff-main: "Commissioner", sans-serif;
  --moderate-cyan: hsl(176, 50%, 47%);
  --dark-cyan: hsl(176, 72%, 28%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 48%);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.6;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* ==========
    Typography 
========== */
body {
  font-family: var(--ff-main);
}

.header__menu__link {
  color: var(--black);
  font-weight: 700;
  font-size: 1.1rem;
}
.header__container__nav__ul {
  color: white;
  font-weight: 400;
}
.header__container__nav__ul__li {
  cursor: pointer;
}
.header__container__nav__ul__li:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

/* ==========
    Main
========== */
.main__header__title {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.2;
}
.main__header__text {
  font-size: 0.9rem;
  color: var(--dark-gray);
}
.main__header__button {
  color: white;
  font-weight: 500;
}
.main__header__bookmark:hover {
  color: var(--dark-gray);
  font-weight: 500;
}
.main__info__card__num {
  font-size: 2rem;
  font-weight: 700;
}
.main__info__card__span {
  color: var(--dark-gray);
  font-size: 0.85rem;
}
.main__about__title {
  font-size: 1.25rem;
}
.main__about__text {
  color: var(--dark-gray);
  font-size: 0.87rem;
  line-height: 1.6;
}
.main__about__reward {
  font-size: 0.9rem;
}
.main__about__reward__title {
  font-size: 0.9rem;
}
.main__about__reward__pledge {
  color: var(--moderate-cyan);
  font-weight: 500;
}
.main__about__reward__text {
  color: var(--dark-gray);
}
.main__about__reward__num {
  font-size: 2rem;
  font-weight: 700;
}
.main__about__reward__span {
  color: var(--dark-gray);
  font-size: 0.85rem;
}
.main__about__reward__button {
  color: white;
}

/* ==========
    Components
========== */
.main__project__title {
  font-size: 1.2rem;
}
.main__project__text {
  color: var(--dark-gray);
  font-size: 0.85rem;
}
.main__project__label__title {
  font-size: 0.9rem;
}
.main__project__label__pledge {
  color: var(--moderate-cyan);
  font-weight: 500;
  font-size: 0.9rem;
}
.main__project__label__text {
  font-size: 0.85rem;
  color: var(--dark-gray);
}
.main__project__label__num {
  font-weight: 700;
}
.main__project__label__span {
  color: var(--dark-gray);
  font-weight: 400;
}

.thank-card__title {
  font-size: 1.25rem;
}
.thank-card__text {
  color: var(--dark-gray);
  font-size: 0.9rem;
}

/* ==========
    Typography
========== */
@media (min-width: 500px) {
  .main__header__title {
    font-size: 1.75rem;
  }
  .main__header__text {
    font-size: 1rem;
  }
  .main__about {
    padding: 3.125rem 3rem;
  }
  .main__about__text {
    font-size: 1rem;
  }
  .main__about__reward__title {
    font-size: 1.1rem;
  }
  .main__about__reward__text {
    font-size: 1rem;
  }
}
/* ==========
    Header 
========== */
.header {
  height: 300px;
  background-image: url(../images/image-hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem 1.5rem;
  position: relative;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 730px;
  margin: 0 auto;
}
.header__container__nav {
  display: none;
}
.header__ham {
  cursor: pointer;
}
.header__menu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -500px;
  display: flex;
  flex-direction: column;
  width: 87.5%;
  background-color: white;
  border-radius: 0.5rem;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 50px 40px 100px;
  transition: top 0.1s ease-in-out;
  overflow: hidden;
}
.header__menu__link {
  text-decoration: none;
  border-bottom: 1px solid rgba(211, 211, 211, 0.493);
  padding: 1.5rem;
  transition: background-color 0.1s ease-in-out;
}
.header__menu__link:hover {
  background-color: rgba(211, 211, 211, 0.692);
}

@media (min-width: 500px) {
  .header {
    height: 400px;
    background-image: url(../images/image-hero-desktop.jpg);
    background-position: center;
    background-size: cover;
  }
  .header__container__nav {
    display: flex;
  }
  .header__container__nav__ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .header__container__nav__ul__li {
    padding: 0;
  }
  .header__ham {
    display: none;
  }
  .header__menu {
    display: none;
  }
}
/* ==========
    Main 
========== */
.global-shadow {
  position: absolute;
  opacity: 0;
  transition: opacity 0.2 ease-in-out;
  width: 1px;
  height: 1px;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 0px 3500px;
}

.main {
  padding: 2rem 1.5rem;
  background-color: #fafafa;
}
.main__header {
  background-color: #ffffff;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 0.5rem;
  padding: 3rem 1.5rem 2rem;
  max-width: 730px;
  margin: 0 auto;
  margin-top: -5.5rem;
  position: relative;
  text-align: center;
}
.main__header::after {
  content: url(../images/logo-mastercraft.svg);
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translateX(-50%);
}
.main__header__title {
  max-width: 15ch;
  margin: 0 auto;
}
.main__header__text {
  margin-top: 1.25rem;
}
.main__header__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;
}
.main__header__button {
  background-color: var(--moderate-cyan);
  border: none;
  padding: 0.8rem 2.4rem 1rem;
  width: min(77.5%, 200px);
  border-radius: 2rem;
  cursor: pointer;
}
.main__header__button:hover {
  background-color: var(--dark-cyan);
}
.main__header__bookmark {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__header__bookmark:hover svg path {
  fill: lightgray;
}
.main__header__bookmark:hover svg circle {
  fill: #6e6e6e;
}
.main__header__bookmark.active {
  color: var(--dark-cyan);
  font-weight: 600;
}
.main__header__bookmark.active svg path {
  fill: lightgray;
}
.main__header__bookmark.active svg circle {
  fill: var(--dark-cyan);
}
.main__header__bookmark__svg__content {
  display: none;
}
.main__info {
  margin-top: 2rem;
  background-color: #ffffff;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 0.5rem;
  padding: 1rem 2rem 3rem;
  text-align: center;
  max-width: 730px;
}
.main__info__card {
  position: relative;
  padding: 1rem;
}
.main__info__card::before {
  content: "";
  width: 85px;
  height: 1px;
  background-color: lightgray;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}
.main__info__card:nth-child(3)::before {
  content: none;
}
.main__info__progress {
  margin-top: 1rem;
  width: 100%;
  height: 0.75rem;
  overflow: hidden;
  background-color: #e0e0e0;
  border-radius: 2rem;
  overflow: hidden;
}
.main__info__progress__percent {
  width: 89%;
  height: 100%;
  background-color: var(--moderate-cyan);
  border-radius: 2rem;
}
.main__about {
  max-width: 730px;
  border-radius: 0.5rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background-color: white;
  padding: 2rem 1.5rem;
}
.main__about__text {
  margin-top: 1rem;
}
.main__about__reward {
  border-radius: 0.5rem;
  padding: 1.5rem;
  margin-top: 2rem;
  border: 1px solid lightgray;
}
.main__about__reward__text {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.main__about__reward__flex {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.main__about__reward__button {
  margin-top: 1rem;
  display: block;
  background-color: var(--moderate-cyan);
  border: none;
  padding: 0.8rem 2.4rem 1rem;
  border-radius: 2rem;
  cursor: pointer;
}
.main__about__reward__button:hover {
  background-color: var(--dark-cyan);
}
.main__about__reward__button.out {
  background-color: var(--dark-gray);
  cursor: help;
}
.main__about .out {
  opacity: 0.5;
}

@media (min-width: 500px) {
  .main__header__title {
    max-width: 100%;
  }
  .main__header__bookmark {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    border-radius: 2rem;
  }
  .main__header__bookmark__svg__content {
    padding-left: 0.75rem;
    padding-right: 1.25rem;
    padding-bottom: 0.25rem;
    display: block;
  }
  .main__info {
    padding: 3rem;
  }
  .main__about {
    padding: 3.125rem 3rem;
  }
  .main__about__text {
    margin-top: 2rem;
  }
  .main__about__reward {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3rem 2rem;
  }
  .main__about__reward__text {
    grid-column: span 2;
    margin-bottom: 2rem;
  }
  .main__about__reward__pledge {
    margin-left: auto;
  }
  .main__about__reward__button {
    max-width: 160px;
    padding: 0.8rem 2rem 1rem;
    margin-top: 0;
    margin-left: auto;
  }
}
/* ==========
    Media 
========== */
@media (min-width: 800px) {
  .main__header {
    padding: 3rem;
  }
  .main__info {
    margin-left: auto;
    margin-right: auto;
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: left;
  }
  .main__info__card {
    grid-column: span 1;
    border-right: 1px solid lightgray;
    padding: 0;
    margin-left: 3rem;
  }
  .main__info__card:first-child {
    margin-left: 0;
  }
  .main__info__card:nth-child(3) {
    border-right: none;
  }
  .main__info__card::before {
    content: none;
  }
  .main__info__progress {
    grid-column: span 3;
    margin-top: 2rem;
  }
}
.main__project {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: scale(0);
  z-index: 2;
  min-width: 325px;
  transition: 0.2s ease-in-out;
  border-radius: 0.5rem;
  background-color: white;
  padding: 1.5rem;
}
.main__project .flex {
  display: flex;
  align-items: center;
}
.main__project__title {
  display: inline;
}
.main__project__cross {
  display: inline;
  margin-left: auto;
  padding-top: 0.3rem;
  cursor: pointer;
}
.main__project__text {
  margin-top: 1.5rem;
}
.main__project__card {
  border-radius: 0.5rem;
  margin-top: 1.5rem;
  outline: 1px solid lightgray;
  max-width: 630px;
  transition: outline 0.1s ease-in-out;
}
.main__project__card.out {
  opacity: 0.5;
  cursor: none;
}
.main__project__card.out:hover {
  outline: 1px solid lightgray;
  cursor: default;
}
.main__project__card:hover {
  outline: 2px solid var(--moderate-cyan);
}
.main__project__card__acc {
  padding: 1.6rem 1.5rem 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  border-top: 1px solid lightgray;
  cursor: pointer;
  display: none;
}
.main__project__card__acc.active {
  display: grid;
}
.main__project__card__acc__text {
  grid-column: span 2;
  margin-bottom: 1rem;
  color: var(--dark-gray);
  font-size: 0.9rem;
}
.main__project__card__acc__input {
  border-radius: 2rem;
  border: none;
  outline: 1px solid lightgray;
  padding: 0.8rem 0 0.95rem;
  width: 100px;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  cursor: pointer;
  text-align: center;
  font-weight: 500;
  background-image: url(../images/dollar-sign-svgrepo-com.svg);
  background-repeat: no-repeat;
  background-size: 15%;
  background-position: 15% 50%;
  grid-column: span 1;
}
.main__project__card__acc__input:focus, .main__project__card__acc__input:hover {
  outline: 2px solid var(--moderate-cyan);
}
.main__project__card__acc__cont {
  width: 125px;
  border-radius: 2rem;
  border: none;
  padding: 0.8rem 0 0.95rem;
  background-color: var(--moderate-cyan);
  color: white;
  cursor: pointer;
  margin-left: 0.5rem;
  grid-column: span 1;
}
.main__project__card__acc__cont:hover {
  background-color: var(--dark-cyan);
}
.main__project__label {
  cursor: pointer;
  padding: 1.75rem 1.5rem 1rem;
  display: grid;
  grid-template-columns: auto 1fr;
}
.main__project__label.out {
  cursor: help;
}
.main__project__label__grid {
  display: grid;
  grid-column: span 2;
  grid-template-columns: auto 1fr;
  align-content: center;
  column-gap: 1rem;
}
.main__project__label__grid .main__project__label__title {
  grid-column: 2/3;
}
.main__project__label__grid .main__project__label__pledge {
  grid-column: 2/3;
}
.main__project__label__text {
  grid-column: span 2;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.main__project__label__span {
  margin-left: 0.25rem;
}
.main__project__label input[type=radio] {
  grid-column: 1/2;
  grid-row: span 2;
  align-self: center;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.25rem;
  height: 1.25rem;
  border: 1px solid lightgray;
  border-radius: 50%;
  display: grid;
  place-content: center;
}
.main__project__label input[type=radio]::before {
  content: "";
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.1s transform ease-in-out;
  box-shadow: inset 1rem 1rem var(--moderate-cyan);
}
.main__project__label input[type=radio]:checked::before {
  transform: scale(1);
}

@media (min-width: 1000px) {
  .main__project__card__acc {
    grid-template-columns: 1fr 8rem 8rem;
    align-items: center;
    justify-items: flex-start;
  }
  .main__project__card__acc__text {
    grid-column: span 1;
    margin: 0;
  }
  .main__project__card__acc__input {
    grid-column: span 1;
    justify-self: flex-end;
  }
  .main__project__card__acc__cont {
    grid-column: span 1;
  }
}
.thank-card {
  z-index: 2;
  position: absolute;
  max-width: 325px;
  background-color: white;
  border-radius: 0.5rem;
  padding: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: scale 0.3s ease-in-out;
  scale: 0;
  text-align: center;
}
.thank-card__check {
  margin: 0 auto;
}
.thank-card__title {
  margin-top: 1.25rem;
}
.thank-card__text {
  margin-top: 1.25rem;
}
.thank-card__button {
  width: 125px;
  border-radius: 2rem;
  border: none;
  padding: 0.8rem 0 0.95rem;
  background-color: var(--moderate-cyan);
  color: white;
  cursor: pointer;
  margin-left: 0.5rem;
  grid-column: span 1;
  margin-top: 2rem;
}
.thank-card__button:hover {
  background-color: var(--dark-cyan);
}

/*# sourceMappingURL=main.css.map */
