/* ==========
    Header 
========== */

.header {
    height: 300px;
    background-image: url(/images/image-hero-mobile.jpg);
    background-size: contain;

    padding: 2rem 1.5rem;
    
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 730px;
        margin: 0 auto;
    }

    &__ham {
        cursor: pointer;
    }
    
}


