/* ==========
    Typography 
========== */

body {
    font-family: var(--ff-main);
}


.header {

    &__menu {
        &__link {
            color: var(--black);
            font-weight: 700;
            font-size: 1.1rem;
        }
    }

    &__container {

        &__nav {

            &__ul {
                color: white;
                font-weight: 400;

                &__li {

                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                        text-underline-offset: 2px;
                    }
                }
            }
        }
    }
}

/* ==========
    Main
========== */

.main {

    &__header {
        
        &__title {
            font-size: 1.25rem;
            font-weight: 700;
            line-height: 1.2;
        }
        
        &__text {
            font-size: .9rem;
            color: var(--dark-gray);
        }

        &__button {
            color: white;
            font-weight: 500;
        }

        &__bookmark {

            &:hover {
                color: var(--dark-gray);
                font-weight: 500;
            }

        }


    }

    &__info {

        &__card {
            &__num {
                font-size: 2rem;
                font-weight: 700;
            }

            &__span {
                color: var(--dark-gray);
                font-size: .85rem;
            }
        }
    }

    &__about {

        &__title {
            font-size: 1.25rem;
        }

        &__text {
            color: var(--dark-gray);
            font-size: .87rem;
            line-height: 1.6;
        }

        &__reward {

            font-size: .9rem;
            
            &__title {
                font-size: .9rem;
            }

            &__pledge {
                color: var(--moderate-cyan);
                font-weight: 500;
            }
            
            &__text {
                color: var(--dark-gray);
            }

            &__num {
                font-size: 2rem;
                font-weight: 700;
                
            }

            &__span {
                color: var(--dark-gray);
                font-size: .85rem;
            }

            &__button {
                color: white;
            }
        }
    }
}


/* ==========
    Components
========== */

.main {

    &__project {

        &__title {
            font-size: 1.2rem;
            
        }

        &__text {
            color: var(--dark-gray);
            font-size: .85rem;
        }



        &__label {

            &__title {
                font-size: .9rem;
            }

            &__pledge {
                color: var(--moderate-cyan);
                font-weight: 500;
                font-size: .9rem;;
            }

            &__text {
                font-size: .85rem;
                color: var(--dark-gray);
            }

            &__num {
                font-weight: 700;
            }

            &__span {
                color: var(--dark-gray);
                font-weight: 400;
            }
        }
    }
}




@media (min-width: 500px) {

    .main {

        &__header {

            &__title {
                font-size: 1.75rem;
            }

            &__text {
                font-size: 1rem;
            }

            &__bookmark {


                &::after {
   
                }
            }
        }

        &__info {
        }

        &__about {

            padding: 3.125rem 3rem;

            &__text {
                font-size: 1rem;
            }

            &__reward {

                &__title {
                    font-size: 1.1rem;
                }
                
                &__text {
                    
                    font-size: 1rem;
                }
            }
        }

    }
}